.img{
    height: 250px;
    width: 250px;
    align-items: center;
    margin: auto;
}
.list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.card{
    height: 98%;
}
.p{
text-decoration: none;
color: darkgrey;
font-size: small;
font-family: Roboto,Arial,Helvetica,sans-serif;
}
.car{
    display: flex;
    background-color:rgb(227, 220, 220);
    height: 350px;
    width: 100%;
    border-radius: 4px;
}
.acard{
    background-color: white;
    border-radius: 4px;
    border: 1px solid gray;
    margin: 5px;
    height: 100%;
    width: 350px;
}